/* AdminEvent.css */
.AddEventcontainer{
    background-image: url("../../USER\ PAGE/images/female-wedding-planner-working-with-bride-groom.jpg");
    background-size: cover;
    width: 100;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 100vh;
    
}

.formDiv{
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center;
    position: relative;
    top: 8rem;
  
 
}

.title {
    color: #000000;
    margin-bottom: 20px;
    text-align: center;
    font-size: 3rem;
    

}

.eventform {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input,
.textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.textarea {
    resize: none;
}

.button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(173, 92, 184);
    color: #fff;
    cursor: pointer;
}
