.navbarcontainer {
  top: 0;
  z-index: 1000; /* Ensures the navbar is above other content */
}

.navbar {
  padding: 1rem;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  color: #000000;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.navbar-nav {
  font-family: "Inter", sans-serif;
}

.navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  margin-right: 1rem;
  transition: color 0.3s ease-in-out;
  font-weight: 600;
}

.navbar-nav .nav-link:hover {
  color: #ffd902;
}

.LoginButton {
  background-color: rgba(255, 214, 0, 1);
  padding: 5px 20px;
  border: none;
  border-radius: 15px;
  color: black;
  transition: background-color 0.3s ease-in-out;
}

.LoginButton:hover {
  background-color: #ffcc00;
}

/* Media Queries for responsiveness */
@media (max-width: 991px) {
  .navbar-nav {
    margin-left: 0; /* Remove left margin on smaller screens */
  }

  .navbar-brand {
    font-size: 1.3rem; /* Slightly reduce brand font size */
  }

  .navbar-nav .nav-link {
    font-size: 0.9rem; /* Slightly reduce link font size */
  }

  .LoginButton {
    padding: 5px 15px; /* Adjust button padding */
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    font-size: 1.2rem; /* Further reduce brand font size */
  }

  .navbar-nav .nav-link {
    font-size: 0.85rem; /* Further reduce link font size */
    margin-right: 0.5rem; /* Reduce margin */
  }

  .LoginButton {
    padding: 5px 10px; /* Further adjust button padding */
  }
}
